@mixin non-underline {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

@mixin divider {
  &::before {
    background-color: rgba(255, 255, 255, 0.075);
    content: "";
    height: 1px;
    left: 8px;
    position: absolute;
    width: calc(100% - 16px);
  }

  &:hover {
    &::before {
      background-color: transparent;
    }
  }
}

@mixin transition($d) {
  transition: all 300ms cubic-bezier(0.34, 0.03, 0.13, 0.93);
  transition-delay: #{$d}ms;
}

@mixin text-animation($status, $derection, $t-delay) {
  @include transition($t-delay);

  @if $status == "off" {
    opacity: 0;
  } @else if $status == "on" {
    opacity: 1;
  }

  @if $derection == "left" {
    transform: translateX(-1rem);
  } @else if $derection == "right" {
    transform: translateX(1rem);
  } @else {
    transform: translateX(0);
  }
}

@keyframes runleft {
  0% {
    opacity: 0;
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes runright {
  0% {
    opacity: 0;
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.layout-switch {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  overflow: hidden;
}

html {
  .toggle-content {
    @include transition(0);
    background-color: #272b35;
    height: 100vh;
    width: calc(100vw - 200px);
    overflow: hidden;

    &.hide {
      width: 0;
    }
    > .nav,
    > div {
      width: calc(100vw - 200px);
    }
    > .nav {
      overflow: auto;
      height: calc(100vh - 3rem);
    }
  }

  .text-animation {
    @include text-animation("off", "left", 0);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .nav {
    &.nav-tabs {
      .nav-item {
        white-space: nowrap;
        user-select: none;
      }

      .nav-link {
        height: 3rem;
        border: 0;
        padding-left: 14px;

        &::before {
          @include transition(0);
          background-color: #2080d3;
          bottom: 0;
          content: "";
          height: 48px;
          margin-left: 0;
          position: absolute;
          width: 0;
          left: 0;
        }

        i {
          @include transition(0);
        }
        img {
          filter: grayscale(100%) brightness(1);
        }
        .icon-angle-down {
          opacity: 0;
        }

        &.active,
        &:hover {
          &::before {
            height: 48px;
            width: 3px;
            @include transition(0);
          }
          img {
            filter:grayscale(100%) brightness(2);
          }
        }
      }
    }

    &.menu-flex-direction {
      flex-direction: column;
      flex-wrap: nowrap;
    }

    .applications-nav {
      position: relative;
      overflow: hidden;
      @include divider();
    }

    &.fav-app-nav {
      position: relative;
      overflow: hidden;      
    }
    .favorite {
      white-space: nowrap;
      padding-left: .5rem;
      height: 1.25rem;
      @include transition(0);
      user-select: none;
      i {        
        position: absolute;
        right: 1.375rem;
        bottom: .25rem;
      }
      span {
        @include text-animation("off", "left", 0);
      }
      &::after {
        background-color: rgba(255, 255, 255, 0.075);
        content: "";
        height: 1px;
        left: 8px;
        position: absolute;
        width: calc(100% - 16px);
        bottom: 0;
      }
    }
    ul.nav .nav-item .nav-link.active::before,
    ul.nav .nav-item .nav-link:hover::before {
      width: 0;
      height: 0;
    }

    .chavron-rotate {
      transform: rotate(-90deg);
    }

    .action-menu-tool {
      @include transition(0);
      opacity: 0;
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      transform: translateX(1rem);
      z-index: 2;

      .dropdown-menu {
        left: auto;
        right: 0;
        z-index: 20;
      }
    }

    .action-menu {
      cursor: pointer;
      height: 3rem;
      padding-right: 1.5rem;
      overflow: hidden;

      .dropdown-menu {
        min-width: auto;
      }

      a {
        @include non-underline();
      }

      &:hover {
        .action-menu-tool {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }

    .layout-menu-tool {
      @include transition(0);
      background: rgba(255, 255, 255, 0.05);
      display: flex;
      height: 3rem;
      opacity: 0;
      position: absolute;
      visibility: hidden;
      width: 100%;

      div {
        align-items: center;
        cursor: pointer;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;

        &:first-of-type {
          border-right: 1px solid rgba(255, 255, 255, 0.05);
        }

        &:hover,
        &.active {
          background-color: rgba(255, 255, 255, 0.05);
          color: white;
        }
      }
    }

    .show-actions {
      display: flex;
      position: relative;

      &:hover,
      &.active {
        i,
        .text-animation,
        span {
          opacity: 0;
        }

        .nav-link {
          pointer-events: none;
          width: 3px;
          padding: 0;

          &::before {
            width: 3px;
          }
        }

        .layout-menu-tool {
          opacity: 1;
          visibility: visible;

          div {
            &:first-of-type {
              animation: runleft 300ms cubic-bezier(0.34, 0.03, 0.13, 0.93);
            }

            &:last-of-type {
              animation: runright 300ms cubic-bezier(0.34, 0.03, 0.13, 0.93);
            }
          }
        }
      }
    }
  }

  .nav-item {
    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
    }
  }

  .nav-link {
    &:hover {
      background-color: transparent !important;
    }
  }

  .view-port {
    @include transition(0);
    border: 1px solid rgba(255, 255, 255, 0.075);
    overflow: hidden;
    width: 60px;
    @include transition(0);

    .menu {
      display: none;
    }

    .view-port-header {
      align-items: center;
      display: flex;
      height: 3rem;
      justify-content: space-between;
      padding-left: 1.125rem;
      padding-right: 0.25rem;

      a {
        @include non-underline();
      }

      .menu {
        position: relative;
      }

      .dropdown-menu {
        left: auto;
        right: 0;
      }

      .logo {
        min-width: 120px;
      }
    }

    .accordion {
      height: calc(100vh - 13.375rem);
      overflow-x: hidden;
      overflow-y: auto;
      @include transition(0);

      .active-app {
        position: absolute;
        left: 57px;
      }
    }

    .view-port-footer {
      @include divider();
      position: relative;

      .nav.nav-tabs {
        .nav-link {
          @include non-underline();
          height: 3rem;
        }
      }

      .circle-index {
        align-items: center;
        background-color: #2080d3;
        border-radius: 50%;
        display: flex;
        font-size: 0.5rem;
        height: 0.875rem;
        justify-content: center;
        margin-left: 0.875rem;
        margin-top: -0.375rem;
        position: absolute;
        width: 0.875rem;
      }
    }
  }

  .vertical.expand {
    width: 200px;

    .menu {
      display: block;
    }

    .text-animation {
      @include text-animation("on", "", 0);
    }
    .favorite {
      span {
        @include text-animation("on", "", 0);
      }
      i {
        right: .875rem;
      }
    }
    .accordion {
      .nav {
        .toggle-content {
          left: 200px;
          display: list-item;
          @include transition(50);
        }

        .hide {
          width: 0;
          @include transition(50);
        }
      }
    }
  }

  .expand {
    .applications-nav {
        &:hover,
        &.active {
          .icon-angle-down {
            opacity: 1;
          }
        }
    }
  }

  .active-app {
    margin-left: -14px;
  }

  #applications {
    .nav-item.fav-app {
      i.icon-star-empty-1 {
        display:none;
      }
    }

    .nav-item:not(.fav-app) {
      i.icon-star-full {
        display: none;
      }
    }

  }
}

.app-active {
  position: relative;
  background-color: rgba(255, 255, 255, 0.025);

  &::before {
    content: "";
    width: 3px;
    position: absolute;
    top: 30%;
    bottom: 30%;
    left: 0;
    background-color: #2080d3;
    transition: all 0.3s ease;
  }

  &:hover {
    &::before {
      top: 0;
      bottom: 0;
    }
  }
}

.horizontal {
  .app-active {
    &::before {
      width: unset;
      height: 3px;
      top: 0;
      right: 30%;
      bottom: unset;
      left: 30%;
    }

    &:hover {
      &::before {
        top: -3px;
      }
    }
  }
}

@mixin divider-horizontal {
  &::before {
    background-color: rgba(255, 255, 255, 0.075);
    content: "";
    position: absolute;
    height: 36px;
    width: 1px;
    top: 6px;
    left: 0;
  }

  &:hover {
    &::before {
      background-color: transparent;
    }
  }
}

html {
  .app.flex-column {
    .toggle-content {
      @include transition(0);
      background-color: #272b35;
      height: calc(100vh - 50px);
      width: 100%;
      overflow: hidden;

      &.hide {
        width: auto;
        height: 0;
      }

      > .nav,
      > div {
        width: 100%;
      }

      > .nav {
        overflow: auto;
        height: auto;
      }

      .nav-link {
        &:hover,
        &.active {
          &::before {
            display: none;
          }
        }
      }
    }

    .nav-tabs.menu-flex-direction {
      .nav-link:hover::before,
      .nav-link.active::before {
        height: 0;
      }
    }

    .nav {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      flex-direction: row;
      max-height: calc(100vh - 96px);

      .nav-item {
        max-width: 25%;
        width: 100%;

        .nav-link {
          &::before {
            height: 0;
          }
        }
      }
    }

    .nav-tabs.menu-flex-direction {
      .nav-link {
        &::before {
          top: auto;
          width: 100%;
          bottom: 0;
          height: 0;
        }

        &:hover::before,
        &.active::before {
          height: 3px;
        }
      }
    }
  }

  .horizontal {
    display: flex;
    width: 100%;

    .menu-flex-direction {
      flex-direction: row;
    }

    .menu {
      display: block;
    }

    .view-port-header {
      .menu {
        position: fixed;
        top: 10px;
        right: 4px;
        z-index: 11;
      }
    }

    .accordion {
      display: flex;
      height: auto;

      .nav {
        .bookmarked {
          position: absolute;
          left: 0.5rem;
          right: auto;
        }

        &.nav-tabs {
          .nav-item {
            width: 60px;
            @include transition(0);

            &:hover {
              .nav-link {
                .text-animation {
                  @include text-animation("on", "", 100);
                }
              }
            }

            .nav-link {
              &.active {
                .text-animation {
                  @include text-animation("on", "", 100);
                }
              }
            }
          }
        }

        .text-animation {
          max-width: calc(100% - 30px);
        }

        &.applications-nav {
          @include divider-horizontal();

          .nav-item {
            max-width: 100%;

            &:hover,
            &.active {
              max-width: 200px;
              width: 200px;
            }
          }
        }

        &.layouts-nav {
          .show-actions {
            .layout-menu-tool {
              width: 200px;
            }

            &:hover,
            &.active {
              width: 200px;

              i,
              .text-animation {
                opacity: 1;
              }

              .nav-link {
                width: 200px;
                opacity: 0;

                &::before {
                  top: auto;
                  width: 100%;
                  bottom: 0;
                  height: 3px;
                }
              }
            }
          }
        }

        &.fav-app-nav {
          @include divider-horizontal();
          flex-wrap: nowrap;

          .nav-item {
            &:hover,
            &.active {
              width: 200px;
            }
          }
        }

        .chavron-rotate {
          transform: rotate(-180deg);
        }
      }
    }

    .view-port-footer {
      position: fixed;
      right: 38px;
      @include divider-horizontal();

      &::after {
        background-color: rgba(255, 255, 255, 0.075);
        content: "";
        position: absolute;
        height: 36px;
        width: 1px;
        top: 6px;
        right: 0;
      }

      &:hover::after {
        background-color: transparent;
      }

      .nav {
        .nav-item {
          width: 60px;
          @include transition(0);

          .nav-link {
            padding-right: 0;
            position: relative;

            &::before {
              top: auto;
              width: 100%;
              bottom: 0;
              height: 0;
            }

            &:hover,
            &.active {
              &::before {
                top: auto;
                width: 100%;
                bottom: 0;
                height: 3px;
              }
            }
          }

          &:hover,
          &.active {
            max-width: 160px;
            width: 160px;

            .text-animation {
              @include text-animation("on", "", 0);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1370px) {
  html {
    .app.flex-column .nav .nav-item {
      max-width: 33%;
    }
  }
}

@media screen and (max-width: 1190px) {
  html {
    .app.flex-column .nav .nav-item {
      max-width: 50%;
    }
  }
}

@media screen and (max-width: 640px) {
  html {
    .app.flex-column .nav .nav-item {
      max-width: 100%;
    }
  }
}
