@mixin non-underline {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

@mixin divider($theme) {
  &::before {
    @if $theme == "dark" {
      background-color: rgba(255, 255, 255, 0.075);
    } @else {
      background-color: rgba(219, 222, 230, 0.8);
    }

    content: "";
    height: 1px;
    left: 8px;
    position: absolute;
    width: calc(100% - 16px);
  }

  &:hover {
    &::before {
      background-color: transparent;
    }
  }
}

@mixin horizontal-divider {
  left: 0;
  width: 1px;
  height: calc(100% - 16px);
  top: 8px;
}

@mixin transition($d) {
  transition: all 300ms cubic-bezier(0.34, 0.03, 0.13, 0.93);
  transition-delay: #{$d}ms;
}

@mixin text-animation($status, $derection, $t-delay) {
  @include transition($t-delay);

  @if $status == "off" {
    opacity: 0;
  } @else if $status == "on" {
    opacity: 1;
  }

  @if $derection == "left" {
    transform: translateX(-1rem);
  } @else if $derection == "right" {
    transform: translateX(1rem);
  } @else {
    transform: translateX(0);
  }
}

@keyframes runleft {
  0% {
    opacity: 0;
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes runright {
  0% {
    opacity: 0;
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.layout-switch {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// color scheme
html.dark {
  .view-port {
    border: 1px solid rgba(255, 255, 255, 0.075);
  }

  .toggle-content {
    background-color: #272b35;
    border-top: 1px solid rgba(255, 255, 255, 0.075);
    border-bottom: 1px solid rgba(255, 255, 255, 0.075);
    border-right: 1px solid rgba(255, 255, 255, 0.075);
  }

  .applications-nav {
    @include divider("dark");
  }

  .view-port-footer {
    @include divider("dark");
  }

  .favorite::after {
    background-color: rgba(255, 255, 255, 0.075);
  }

  .nav {
    .layout-menu-tool {
      background: rgba(255, 255, 255, 0.05);

      div {
        &:first-of-type {
          border-right: 1px solid rgba(255, 255, 255, 0.05);
        }

        &:hover,
        &.active {
          background-color: rgba(255, 255, 255, 0.05);
          color: white;
        }
      }
    }

    .nav-link {
      img {
        filter: grayscale(100%) brightness(1);
      }

      &.active,
      &:hover {
        img {
          filter: grayscale(100%) brightness(2);
        }
      }
    }
  }
}

html.light {
  .view-port {
    border: 1px solid rgba(219, 222, 230, 0.8);
  }

  .toggle-content {
    background-color: #fafafa;
    border-top: 1px solid rgba(219, 222, 230, 0.8);
    border-bottom: 1px solid rgba(219, 222, 230, 0.8);
    border-right: 1px solid rgba(219, 222, 230, 0.8);
  }

  .logo img {
    content: url("../assets/logoLight.svg");
  }

  .applications-nav {
    @include divider("");
  }

  .view-port-footer {
    @include divider("");
  }

  .favorite::after {
    background-color: rgba(219, 222, 230, 0.8);
  }

  .nav {
    .layout-menu-tool {
      background: rgba(219, 222, 230, 0.8);

      div {
        &:first-of-type {
          border-right: 1px solid rgba(219, 222, 230, 0.8);
        }

        &:hover,
        &.active {
          background-color: rgba(219, 222, 230, 0.8);
          color: black;
        }
      }
    }

    .nav-link {
      img {
        filter: grayscale(100%) brightness(0.5);
      }

      &.active,
      &:hover {
        img {
          filter: grayscale(100%) brightness(0);
        }
      }
    }
  }
}

html {
  height: 100%;

  body {
    padding: 50px;
    height: 100%;
  }

  .app {
    
    height: 100%;
  }

  img, a {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
  } 

  .dragable {
    position: fixed;
    width: 9rem;
    height: 3rem;
    left: 50px;
    top: 50px;
    -webkit-app-region: drag;
  }

  .about {
    margin: 50px;
    height: calc(100vh - 100px);
  }

  .toggle-content {
    @include transition(0);
    height: 100%;
    width: calc(100vw - 301px);
    overflow: hidden;
    visibility: visible;

    &.hide {
      width: 0;
      border-right: 0 solid transparent;
    }

    > .nav,
    > div {
      width: calc(100vw - 301px);
    }

    > .nav {
      overflow: auto;
    }
  }

  .text-animation {
    @include text-animation("off", "left", 0);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .nav {
    &.nav-tabs {
      li {
        flex-basis: 3rem;
        flex-shrink: 0;
      }

      .nav-item {
        white-space: nowrap;
        user-select: none;
        position: relative;
        display: flex;
      }

      .nav-link {
        height: auto;
        border: 0;
        padding-left: 14px;
        flex-grow: 1;

        i {
          @include transition(0);
        }

        .icon-angle-down {
          opacity: 0;
        }
        &.active {
          .icon-angle-down {
            opacity: 1;
          } 
        }
      }
    }

    &.flex-column {
      flex-wrap: nowrap;
    }

    .applications-nav {
      position: relative;
      overflow: hidden;
    }

    &.fav-app-nav {
      position: relative;
      overflow: hidden;
    }

    .favorite {
      white-space: nowrap;
      flex-basis: 1.25rem !important;
      @include transition(0);
      user-select: none;
      overflow: hidden;
      text-align: center;

      i {
        position: relative;
        background: #21252d;
        z-index: 20;
        padding: 0 .25rem;
      }

      &::after {
        content: "";
        height: 1px;
        left: 8px;
        position: absolute;
        width: calc(100% - 16px);
        bottom: 11px;
      }
    }
    .lauout-nav {
      // height: 3rem;
    }
    #fav-apps {
      & > li:not(.nav-item) {
        @include transition(0);
        opacity: 0;
        white-space: nowrap;
      }
    }

    ul.nav .nav-item .nav-link.active::before,
    ul.nav .nav-item .nav-link:hover::before {
      width: 0;
      height: 0;
    }

    .chavron-rotate {
      transform: rotate(-90deg);
    }

    .action-menu-tool {
      @include transition(0);
      opacity: 0;
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      transform: translateX(1rem);
      z-index: 2;

      .dropdown-menu {
        left: auto;
        right: 0;
        z-index: 20;
      }
    }

    .action-menu {
      cursor: pointer;
     // height: 3rem;
      padding-right: 1.5rem;
      overflow: hidden;

      .dropdown-menu {
        min-width: auto;
      }

      a {
        @include non-underline();
      }

      span:last-of-type {
        text-overflow: ellipsis;
        overflow: hidden;
        @include transition(0);
      }

      &:hover {
        .action-menu-tool {
          opacity: 1;
          transform: translateX(0);
        }

        span:last-of-type {
          padding-right: 1.25rem;
        }
      }
    }

    .layout-menu-tool {
      @include transition(0);
      display: flex;
      height: 3rem;
      opacity: 0;
      position: absolute;
      visibility: hidden;
      width: 100%;
      top:0;

      div {
        align-items: center;
        cursor: pointer;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;
      }
    }

    .show-actions {
      position: relative;
      flex-shrink: 0;

      &:hover,
      &.active {
        i,
        .text-animation,
        .action-menu-tool,
        span {
          opacity: 0;
          visibility: hidden;
        }

        .layout-menu-tool {
          opacity: 1;
          visibility: visible;

          div {
            &:first-of-type {
              animation: runleft 300ms cubic-bezier(0.34, 0.03, 0.13, 0.93);
            }

            &:last-of-type {
              animation: runright 300ms cubic-bezier(0.34, 0.03, 0.13, 0.93);
            }
          }
        }
      }
    }
  }

  #layout-load,
  #app-content,
  #layout-content {
    .nav {
      height: 100%;
      align-content: flex-start;
    }
  }
  .view-port {
    @include transition(0);
    border: 1px solid rgba(255, 255, 255, 0.075);
   // overflow: hidden;
    width: 60px;
    // height: 100vh;  Atanas 50px margin 

    .menu {
      display: none;
    }

    .view-port-header {
      align-items: center;
      display: flex;
      // height: 3rem;
      justify-content: space-between;
      padding-left: 1.125rem;
      padding-right: 0.25rem;

      a {
        @include non-underline();
      }

      .menu {
        position: relative;
      }

      .dropdown-menu {
        left: auto;
        right: 0;
      }

      .logo {
        min-width: 120px;
      }
    }

    .accordion {
      // height: calc(100vh - 264px); // 314px Atanas 50px margin 
      overflow-x: hidden;
      overflow-y: auto;
      @include transition(0);

      .active-app {
        position: absolute;
        left: 57px;
      }
    }

    .view-port-footer {
      position: relative;
      margin-top: auto;

      .nav.nav-tabs {
        .nav-link {
          @include non-underline();
         // height: 3rem;
        }
      }

      .circle-index {
        align-items: center;
        background-color: #2080d3;
        border-radius: 50%;
        display: flex;
        font-size: 0.5rem;
        height: 0.875rem;
        justify-content: center;
        margin-left: 0.875rem;
        margin-top: -0.375rem;
        position: absolute;
        width: 0.875rem;
      }
    }
  }

  .vertical {
    height: 100%;
    > .flex-column {
      height: 100%;
    }
    &.expand {
      width: 200px;

      .menu {
        display: block;
      }

      .text-animation {
        @include text-animation("on", "", 0);
      }

      .favorite {

        @include transition(300);
        i {
          padding: 0 .75rem;
        }
      }

      .fav-app-nav {
        flex-grow: 1;
        overflow-y: auto;
      }

      .accordion {
        .nav {
          .toggle-content {
            left: 200px;
            display: list-item;
            @include transition(50);
          }

          .hide {
            width: 0;
            @include transition(50);
          }
        }
      }

      #fav-apps {
        & > li:not(.nav-item) {
          opacity: 1;
        }
      }
    }
  }

  .modal.fade {
    display: block;
    width: 200px;
    visibility: hidden;
    .about-logo {
      width: 2.5rem;
      overflow: hidden;
      margin: 0 auto;
    }
    .modal-fill-in {
      justify-content: flex-start;
      .modal-header .close {
        position: absolute;
        right: 1rem;
        top: 1rem;
      }
    }
    &.show {
      visibility: visible;
    }

  }

  .expand {
    .applications-nav {
      &:hover,
      &.active {
        .icon-angle-down {
          opacity: 1;
        }
      }
    }
  }

  .active-app {
    margin-left: -14px;
  }

  #applications {
    .nav-item.fav-app {
      i.icon-star-empty-1 {
        display: none;
      }
    }

    .nav-item:not(.fav-app) {
      i.icon-star-full {
        display: none;
      }
    }
  }

  .horizontal {
    display: flex;
    width: 100%;
    height: 3rem;

    > .nav {
      flex-wrap: nowrap;
      width: calc(100% - 36px);
    }
    
    
    .dragable {
      width: 3.375rem;
    }

    &.view-port .view-port-header {
      width: 3.688rem;
      overflow: hidden;
    }

    .app-active {
        &::before {
          width: unset;
          height: 3px;
          top: 0;
          right: 30%;
          bottom: unset;
          left: 30%;
        }

        &:hover {
          &::before {
            top: -3px;
          }
        }
    }

    .nav {

      .applications-nav::before,
      .favorite::after,
      .view-port-footer:before {
        @include horizontal-divider;
      }

      .favorite::after {
        left: .563rem;
      }

      .favorite {
        height: 3rem;
        i {
          padding: .25rem 0;
          top:1rem;
        }
      }

      .chavron-rotate {
        transform: rotate(180deg);
      }

      .show-actions {
 
        &:hover,
        &.active {
          i,
          .text-animation,
          .action-menu-tool,
          span {
            opacity: 1;
            visibility: visible;
          }
  
        }
      }
    }

    .fav-app-nav {
      flex-wrap: nowrap;
    }

    .view-port-header {
      .menu {
        position: fixed;
        top: 58px;
        right: 54px;
        z-index: 11;
        display: block;
      }
    }

    .nav-tabs {
      li {
        flex-basis: 59px;
        width: 60px;

        &.fav-app-nav {
          flex-grow: 1;
        }
      }
      .nav-item {
       @include transition(0);
       overflow: hidden;
        height: 3rem;

        &:hover {
          flex-basis: 11rem;

          .nav-link {
            .text-animation {
              @include text-animation("on", "", 100);
            }
          }
        }

        .nav-link {
          max-width: 11rem;
          &.active {
            .text-animation {
              @include text-animation("on", "", 100);
            }
          }
        }
      }
    }

    .layout-menu-tool {
      top: 3rem;
      z-index: 21;
      flex-direction: column;
      height: 6rem;
    }


   &.expand {
      .menu {
        display: block;
      }
    }
    .view-port-footer {
        margin-top: initial;
        margin-left: auto;
  
    }
  }
  
  .h {
    height: auto;
    .toggle-content {
      width: 100%;
      height: calc(100vh - 3rem); // ? 
      border-top: 0 solid transparent;
      > .nav,
      > div {
        width: 100%;
      }
      &.hide {
        width: 0;
        height: 0;
        border-bottom: 0 solid transparent;

      }
    }
  }
  
}

.app-active {
  position: relative;
  background-color: rgba(255, 255, 255, 0.025);

  &::before {
    content: "";
    width: 3px;
    position: absolute;
    top: 30%;
    bottom: 30%;
    left: 0;
    background-color: #2080d3;
    transition: all 0.3s ease;
  }

  &:hover {
    &::before {
      top: 0;
      bottom: 0;
    }
  }
}


@mixin divider-horizontal {
  &::before {
    background-color: rgba(255, 255, 255, 0.075);
    content: "";
    position: absolute;
    height: 36px;
    width: 1px;
    top: 6px;
    left: 0;
  }

  &:hover {
    &::before {
      background-color: transparent;
    }
  }
}


// @media screen and (min-width: 1370px) {
// }

// @media screen and (max-width: 1190px) {
// }

// @media screen and (max-width: 640px) {
// }
