@charset "UTF-8";
@keyframes runleft {
  0% {
    opacity: 0;
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes runright {
  0% {
    opacity: 0;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
html.dark .view-port {
  border: 1px solid rgba(255, 255, 255, 0.075);
}
html.dark .toggle-content {
  background-color: #272b35;
  border-top: 1px solid rgba(255, 255, 255, 0.075);
  border-bottom: 1px solid rgba(255, 255, 255, 0.075);
  border-right: 1px solid rgba(255, 255, 255, 0.075);
}
html.dark .toggle-content .close-drawer {
  color: #bbb;
}
html.dark .toggle-content .close-drawer:hover {
  color: white;
}
html.dark .applications-nav::before {
  background-color: rgba(255, 255, 255, 0.075);
  content: "";
  height: 1px;
  left: 8px;
  position: absolute;
  width: calc(100% - 16px);
}
html.dark .applications-nav:hover::before {
  background-color: transparent;
}
html.dark .view-port-footer::before {
  background-color: rgba(255, 255, 255, 0.075);
  content: "";
  height: 1px;
  left: 8px;
  position: absolute;
  width: calc(100% - 16px);
}
html.dark .view-port-footer:hover::before {
  background-color: transparent;
}
html.dark .favorite::after {
  background-color: rgba(255, 255, 255, 0.075);
}
html.dark .favorite i {
  background: #21252d;
}
html.dark .nav .layout-menu-tool {
  background: #2b303b;
}
html.dark .nav .layout-menu-tool div:first-of-type {
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}
html.dark .nav .layout-menu-tool div:hover, html.dark .nav .layout-menu-tool div.active {
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
}
html.dark .nav .nav-link img {
  transition-property: filter;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.34, 0.03, 0.13, 0.93);
  transition-delay: 0ms;
  filter: grayscale(100%) brightness(1);
}
html.dark .nav .nav-link.active img, html.dark .nav .nav-link:hover img {
  filter: grayscale(100%) brightness(1.3);
}
html.dark .select:hover {
  background-color: #21252d;
}
html.dark .select_items {
  border-color: rgba(255, 255, 255, 0.075);
}
html.dark .select_items:hover {
  border-color: #2080d3;
}
html.dark .select_option {
  background-color: #272b35;
}
html.dark .select_expand::after {
  color: #eeeeee;
}
html.dark .select_expand:checked + .select_closeLabel + .select_options .select_label:hover {
  background-color: #21252d;
}
html.dark .horizontal .layout-menu-tool {
  border: 1px solid rgba(255, 255, 255, 0.075);
}
html.dark .horizontal .layout-menu-tool div:first-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

html.light .view-port {
  border: 1px solid rgba(219, 222, 230, 0.8);
}
html.light .toggle-content {
  background-color: #fafafa;
  border-top: 1px solid rgba(219, 222, 230, 0.8);
  border-bottom: 1px solid rgba(219, 222, 230, 0.8);
  border-right: 1px solid rgba(219, 222, 230, 0.8);
}
html.light .toggle-content .close-drawer {
  color: #757575;
}
html.light .toggle-content .close-drawer:hover {
  color: #0d0d0d;
}
html.light .logo img {
  content: url("../assets/logoLight.svg");
}
html.light .applications-nav::before {
  background-color: rgba(219, 222, 230, 0.8);
  content: "";
  height: 1px;
  left: 8px;
  position: absolute;
  width: calc(100% - 16px);
}
html.light .applications-nav:hover::before {
  background-color: transparent;
}
html.light .view-port-footer::before {
  background-color: rgba(219, 222, 230, 0.8);
  content: "";
  height: 1px;
  left: 8px;
  position: absolute;
  width: calc(100% - 16px);
}
html.light .view-port-footer:hover::before {
  background-color: transparent;
}
html.light .favorite::after {
  background-color: rgba(219, 222, 230, 0.8);
}
html.light .favorite i {
  background: #fafafa;
}
html.light .nav .layout-menu-tool {
  background: #ffffff;
}
html.light .nav .layouts-nav div:first-of-type {
  border-right: 1px solid rgba(219, 222, 230, 0.8);
}
html.light .nav .layouts-nav div:hover, html.light .nav .layouts-nav div.active {
  background-color: rgba(219, 222, 230, 0.8);
  color: black;
}
html.light .nav .nav-link img {
  filter: grayscale(100%) brightness(0.5);
}
html.light .nav .nav-link.active img, html.light .nav .nav-link:hover img {
  filter: grayscale(100%) brightness(0);
}
html.light .select:hover {
  background-color: #fff;
}
html.light .select_items:hover {
  border-color: #2080d3;
}
html.light .select_option {
  background-color: transparent;
}
html.light .select_option label {
  color: #757575;
}
html.light .select_expand::after {
  color: #2c2c2c;
}
html.light .select_expand:checked + .select_closeLabel + .select_options .select_label:hover {
  background-color: #f2f2f2;
  color: #2c2c2c;
}
html.light .horizontal .layout-menu-tool {
  border: 1px solid rgba(219, 222, 230, 0.8);
}
html.light .horizontal .layout-menu-tool div:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}

html {
  height: 100%;
}
html body {
  padding: 350px 50px 50px 350px;
  height: 100%;
}
html .app {
  height: 100%;
}
html .app.switching-orientation * {
  transition: none !important;
}
html .app.switching-orientation *::before, html .app.switching-orientation *::after {
  transition: none !important;
}
html img,
html a {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}
html .dragable {
  position: absolute;
  height: 3rem;
  width: 140px;
  -webkit-app-region: drag;
  left: 0;
}
html .toggle-content {
  transition-property: width, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.34, 0.03, 0.13, 0.93);
  transition-delay: 0ms;
  height: 100%;
  width: 300px;
  overflow: hidden;
  visibility: visible;
  display: flex;
  flex-direction: column;
}
html .toggle-content .input-group {
  flex-wrap: nowrap;
}
html .toggle-content.hide {
  width: 0;
  border-right: 0 solid transparent;
}
html .toggle-content.hide .action-menu-tool {
  opacity: 0;
}
html .toggle-content > .nav {
  overflow: auto;
}
html .toggle-content h5 {
  white-space: nowrap;
  user-select: none;
  padding-left: 0.063rem;
  padding-right: 1.375rem;
}
html .toggle-content .close-drawer {
  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.34, 0.03, 0.13, 0.93);
  transition-delay: 0ms;
  font-size: 0.688rem;
  margin-left: 0.125rem;
  cursor: pointer;
  transform: rotate(90deg);
}
html .text-animation {
  transition-property: opacity, transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.34, 0.03, 0.13, 0.93);
  transition-delay: 0ms;
  opacity: 0;
  transform: translateX(-1rem);
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0.5rem;
}
html .nav.nav-tabs li {
  white-space: nowrap;
  flex-basis: 3rem;
  flex-shrink: 0;
}
html .nav.nav-tabs .nav-item {
  user-select: none;
  position: relative;
  display: flex;
}
html .nav.nav-tabs .nav-link {
  height: auto;
  border: 0;
  padding-left: 14px;
  flex-grow: 1;
}
html .nav.nav-tabs .nav-link .icon-size-16,
html .nav.nav-tabs .nav-link > img,
html .nav.nav-tabs .nav-link .title-app {
  margin: 0 0.5rem;
}
html .nav.flex-column {
  flex-wrap: nowrap;
}
html .nav .applications-nav {
  position: relative;
  overflow: hidden;
}
html .nav .applications-nav i {
  transition-property: opacity, transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.34, 0.03, 0.13, 0.93);
  transition-delay: 0ms;
}
html .nav .applications-nav:hover .icon-angle-down, html .nav .applications-nav.active .icon-angle-down {
  opacity: 1;
}
html .nav .fav-navigation {
  display: none;
}
html .nav .favorite {
  white-space: nowrap;
  flex-basis: 1.25rem !important;
  user-select: none;
  overflow: hidden;
  text-align: center;
}
html .nav .favorite i {
  position: relative;
  z-index: 20;
  padding: 0 0.25rem;
}
html .nav .favorite::after {
  content: "";
  height: 1px;
  left: 8px;
  position: absolute;
  width: calc(100% - 16px);
  bottom: 11px;
}
html .nav #fav-apps > li:not(.nav-item) {
  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.34, 0.03, 0.13, 0.93);
  transition-delay: 0ms;
  opacity: 0;
  white-space: nowrap;
}
html .nav ul.nav .nav-item .nav-link.active::before,
html .nav ul.nav .nav-item .nav-link:hover::before {
  width: 0;
  height: 0;
}
html .nav .chavron-rotate {
  transform: rotate(-90deg);
}
html .nav .action-menu-tool {
  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.34, 0.03, 0.13, 0.93);
  transition-delay: 0ms;
  opacity: 0.65;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  z-index: 2;
}
html .nav .action-menu-tool .dropdown-menu {
  left: auto;
  right: 0;
  z-index: 20;
}
html .nav .action-menu {
  cursor: pointer;
  padding-right: 1.5rem;
  overflow: hidden;
}
html .nav .action-menu .dropdown-menu {
  min-width: auto;
}
html .nav .action-menu a {
  text-decoration: none;
}
html .nav .action-menu a:hover {
  text-decoration: none;
}
html .nav .action-menu span:last-of-type {
  text-overflow: ellipsis;
  overflow: hidden;
  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.34, 0.03, 0.13, 0.93);
  transition-delay: 0ms;
}
html .nav .action-menu:hover .action-menu-tool {
  opacity: 1;
}
html .nav .action-menu:hover span:last-of-type {
  padding-right: 1.25rem;
}
html .nav .layout-menu-tool {
  transition-property: width;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.34, 0.03, 0.13, 0.93);
  transition-delay: 0ms;
  display: flex;
  height: 3rem;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  width: 100%;
  top: 0;
}
html .nav .layout-menu-tool div {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
html .nav .show-actions {
  position: relative;
  flex-shrink: 0;
}
html .nav .show-actions:hover i,
html .nav .show-actions:hover .text-animation,
html .nav .show-actions:hover .action-menu-tool,
html .nav .show-actions:hover span, html .nav .show-actions.active i,
html .nav .show-actions.active .text-animation,
html .nav .show-actions.active .action-menu-tool,
html .nav .show-actions.active span {
  opacity: 0;
  visibility: hidden;
}
html .nav .show-actions:hover .layout-menu-tool, html .nav .show-actions.active .layout-menu-tool {
  opacity: 1;
  visibility: visible;
}
html .nav .show-actions:hover .layout-menu-tool div:first-of-type, html .nav .show-actions.active .layout-menu-tool div:first-of-type {
  animation: runleft 300ms cubic-bezier(0.34, 0.03, 0.13, 0.93);
}
html .nav .show-actions:hover .layout-menu-tool div:last-of-type, html .nav .show-actions.active .layout-menu-tool div:last-of-type {
  animation: runright 300ms cubic-bezier(0.34, 0.03, 0.13, 0.93);
}
html .view-port {
  transition-property: width;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.34, 0.03, 0.13, 0.93);
  transition-delay: 0ms;
  border: 1px solid rgba(255, 255, 255, 0.075);
  width: 60px;
}
html .view-port .menu {
  display: none;
}
html .view-port .menu .dropdown-menu {
  transition: none;
}
html .view-port .view-port-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 1.125rem;
  padding-right: 0.25rem;
  position: relative;
}
html .view-port .view-port-header a {
  text-decoration: none;
}
html .view-port .view-port-header a:hover {
  text-decoration: none;
}
html .view-port .view-port-header .menu {
  position: relative;
}
html .view-port .view-port-header .dropdown-menu {
  left: auto;
  right: 0;
}
html .view-port .view-port-header .logo {
  min-width: 120px;
}
html .view-port .accordion {
  overflow-x: hidden;
  overflow-y: auto;
}
html .view-port .accordion .active-app {
  position: absolute;
  left: 57px;
}
html .view-port .view-port-footer {
  position: relative;
  margin-top: auto;
}
html .view-port .view-port-footer .nav.nav-tabs .nav-link {
  text-decoration: none;
}
html .view-port .view-port-footer .nav.nav-tabs .nav-link:hover {
  text-decoration: none;
}
html .view-port .view-port-footer .circle-index {
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.34, 0.03, 0.13, 0.93);
  transition-delay: 0ms;
  align-items: center;
  background-color: #2080d3;
  border-radius: 50%;
  display: flex;
  font-size: 0.5rem;
  height: 0.875rem;
  justify-content: center;
  margin-left: 0.875rem;
  margin-top: -0.375rem;
  position: absolute;
  transform: scale(1);
  width: 0.875rem;
}
html .view-port .view-port-footer .circle-index.empty {
  transform: scale(0);
}
html .modal.fade {
  display: block;
  width: 200px;
  visibility: hidden;
}
html .modal.fade .about-logo {
  width: 2.5rem;
  overflow: hidden;
  margin: 0 auto;
}
html .modal.fade .modal-fill-in {
  justify-content: flex-start;
}
html .modal.fade .modal-fill-in .modal-header .close {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
html .modal.fade.show {
  visibility: visible;
}
html .active-app {
  margin-left: -14px;
}
html #applications .nav-item.fav-app i.icon-star-empty-1 {
  display: none;
}
html #applications .nav-item:not(.fav-app) i.icon-star-full {
  display: none;
}
html .select {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2rem;
  cursor: pointer;
  position: relative;
}
html .select input[type=radio] {
  opacity: 1;
}
html .select_expand {
  width: 0;
  height: 2rem;
  position: absolute;
  top: 0;
  right: 0;
}
html .select_expand::after {
  font-family: "tick42-icons";
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-65%, -55%);
  font-size: 21px;
  pointer-events: none;
  z-index: 2;
  transition: transform 250ms cubic-bezier(0.4, 0.25, 0.3, 1);
}
html .select_expand:hover::after {
  opacity: 1;
}
html .select_expand:checked::after {
  transform: translate(-65%, -55%) rotate(-180deg);
}
html .select_expandLabel {
  display: block;
  width: 100%;
  height: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  margin-bottom: 0;
}
html .select_close {
  display: none;
}
html .select_closeLabel {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  margin-bottom: 0;
}
html .select_items {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 2rem;
  border-width: 1px;
  border-style: solid;
}
html .select_input {
  display: none;
}
html .select_label {
  transition: all 250ms cubic-bezier(0.4, 0.25, 0.3, 1);
  display: block;
  height: 0;
  line-height: 2rem;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 0;
  padding-left: 0.875rem;
}
html .select_label-placeholder {
  height: 2rem;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
}
html .select_expand:checked + .select_closeLabel {
  display: block;
}
html .select_expand:checked + .select_closeLabel::before, html .select_expand:checked + .select_closeLabel::after {
  display: none;
}
html .select_expand:checked + .select_closeLabel + .select_options .select_label {
  height: 2rem;
}
html .select_expand:checked + .select_closeLabel + .select_options + .select_expandLabel {
  display: none;
}
html .select_input:checked + .select_label {
  height: 2rem;
}
html .select_options {
  list-style: none;
  padding-left: 0;
}
html .open-left {
  overflow: hidden;
}
html .open-left .app {
  position: relative;
  left: 0;
  transition-property: left, width;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.34, 0.03, 0.13, 0.93);
  transition-delay: 0ms;
  margin-left: 140px;
}
html .open-left .app .toggle-content {
  width: 300px;
  transition-property: width, left;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.34, 0.03, 0.13, 0.93);
  transition-delay: 0ms;
}
html .open-left .app .toggle-content > div,
html .open-left .app .toggle-content > .nav {
  width: auto;
}
html .open-left .app .toggle-content h3 {
  padding-right: 0;
}
html .open-left .app .toggle-content .close-drawer {
  transform: rotate(-90deg);
}
html .open-left .app .toggle-content.hide {
  width: 0px;
}
html .open-left .app.expand-wrapper {
  left: -140px;
}
html .open-left .app.expand-wrapper.has-drawer {
  left: -440px;
}
html .open-left .view-port {
  order: 2;
}
html .vertical {
  height: 100%;
}
html .vertical > .flex-column {
  height: 100%;
}
html .vertical .view-port-header {
  overflow: hidden;
}
html .vertical .fav-app-nav {
  flex-grow: 1;
  overflow-y: hidden;
}
html .vertical.expand {
  width: 200px;
}
html .vertical.expand .view-port-header {
  overflow: initial;
}
html .vertical.expand .menu {
  display: block;
}
html .vertical.expand .text-animation {
  transition-property: opacity, transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.34, 0.03, 0.13, 0.93);
  transition-delay: 0ms;
  opacity: 1;
  transform: translateX(0);
}
html .vertical.expand .favorite {
  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.34, 0.03, 0.13, 0.93);
  transition-delay: 300ms;
}
html .vertical.expand .favorite i {
  padding: 0 0.75rem;
}
html .vertical.expand .fav-app-nav {
  overflow-y: auto;
}
html .vertical.expand .nav-link {
  max-width: 200px;
}
html .vertical.expand .accordion .nav .toggle-content {
  left: 200px;
  display: list-item;
  transition-property: width;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.34, 0.03, 0.13, 0.93);
  transition-delay: 50ms;
}
html .vertical.expand .accordion .nav .hide {
  width: 0;
  transition-property: width;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.34, 0.03, 0.13, 0.93);
  transition-delay: 50ms;
}
html .vertical.expand #fav-apps > li:not(.nav-item) {
  opacity: 1;
}
html .open-top .app {
  transition-property: top;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.34, 0.03, 0.13, 0.93);
  transition-delay: 0ms;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  top: 0;
}
html .open-top .app.expand-wrapper.has-drawer {
  top: -300px;
}
html .open-top .h .horizontal .dropdown-menu {
  top: -8.125rem;
  margin-top: 0 !important;
}
html .open-top .h .horizontal .layout-menu-tool {
  top: -6rem;
}
html .open-top .h .toggle-content {
  border-top: 1px solid rgba(255, 255, 255, 0.075);
  border-bottom: 0;
}
html .open-top .h .toggle-content.hide {
  border-top: 0;
}
html .open-top .h .toggle-content h3 {
  padding-right: 0.25rem;
}
html .open-top .h .toggle-content .close-drawer {
  transform: rotate(0);
  margin: 0.25rem 0 0 0;
}
html .horizontal {
  display: flex;
  width: 100%;
  height: 3rem;
  position: relative;
}
html .horizontal > .nav {
  flex-wrap: nowrap;
  width: calc(100% - 40px);
}
html .horizontal .dragable {
  width: 3.375rem;
}
html .horizontal.view-port .view-port-header .logo {
  min-width: initial;
  overflow: hidden;
}
html .horizontal.view-port .view-port-header .dropdown-menu {
  right: -0.188rem;
  margin-top: 0.5rem;
}
html .horizontal .app-active::before {
  transition-property: width, left, right;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.34, 0.03, 0.13, 0.93);
  transition-delay: 0ms;
  width: 23px;
  height: 3px;
  top: unset;
  right: 30%;
  bottom: 0;
  left: 30%;
}
html .horizontal .app-active:hover::before {
  top: unset;
  width: 100%;
  left: 0;
}
html .horizontal .nav .applications-nav::before,
html .horizontal .nav .favorite::after,
html .horizontal .nav .view-port-footer:before {
  left: 0;
  width: 1px;
  height: calc(100% - 16px);
  top: 8px;
}
html .horizontal .nav .favorite::after {
  left: 0.563rem;
}
html .horizontal .nav .favorite {
  height: 3rem;
}
html .horizontal .nav .favorite i {
  padding: 0.25rem 0;
  top: 1rem;
}
html .horizontal .nav .chavron-rotate {
  transform: rotate(180deg);
}
html .horizontal .nav .show-actions {
  overflow: hidden;
}
html .horizontal .nav .show-actions:hover, html .horizontal .nav .show-actions.active {
  overflow: visible;
}
html .horizontal .nav .show-actions:hover i,
html .horizontal .nav .show-actions:hover .text-animation,
html .horizontal .nav .show-actions:hover .action-menu-tool,
html .horizontal .nav .show-actions:hover span, html .horizontal .nav .show-actions.active i,
html .horizontal .nav .show-actions.active .text-animation,
html .horizontal .nav .show-actions.active .action-menu-tool,
html .horizontal .nav .show-actions.active span {
  opacity: 1;
  visibility: visible;
}
html .horizontal .nav .show-actions:hover .layout-menu-tool div:first-of-type, html .horizontal .nav .show-actions.active .layout-menu-tool div:first-of-type {
  animation: none;
  border-right: 0;
}
html .horizontal .nav .show-actions:hover .layout-menu-tool div:last-of-type, html .horizontal .nav .show-actions.active .layout-menu-tool div:last-of-type {
  animation: none;
}
html .horizontal .fav-app-nav {
  flex-wrap: nowrap;
}
html .horizontal .view-port-header {
  position: static;
}
html .horizontal .view-port-header .menu {
  position: absolute;
  top: 0.375rem;
  right: 0.125rem;
  z-index: 11;
  display: block;
}
html .horizontal .nav-tabs {
  height: 100%;
}
html .horizontal .nav-tabs li {
  flex-basis: 59px;
  width: 60px;
}
html .horizontal .nav-tabs li.fav-app-nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
html .horizontal .nav-tabs li.fav-app-nav::-webkit-scrollbar {
  height: 1px;
}
html .horizontal .nav-tabs li.fav-app-nav .nav {
  flex-wrap: nowrap;
  width: 100%;
}
html .horizontal .nav-tabs li.fav-app-nav .nav::-webkit-scrollbar {
  width: 0;
  height: 1px;
}
html .horizontal .nav-tabs li.fav-app-nav .nav::-webkit-scrollbar-button {
  display: none;
}
html .horizontal .nav-tabs li.fav-app-nav .nav::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
}
html .horizontal .nav-tabs li.fav-app-nav .nav:hover {
  overflow-x: auto;
  overflow-y: scroll;
}
html .horizontal .nav-tabs li.fav-app-nav .nav:hover .app-active::before {
  height: 2px;
}
html .horizontal .nav-tabs li.fav-app-nav .nav .nav-item {
  flex-basis: 59px;
}
html .horizontal .nav-tabs li.fav-app-nav .nav .nav-item .text-animation,
html .horizontal .nav-tabs li.fav-app-nav .nav .nav-item .text-animation:hover {
  display: none;
}
html .horizontal .nav-tabs .nav-item {
  transition-property: flex-basis;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.34, 0.03, 0.13, 0.93);
  transition-delay: 0ms;
}
html .horizontal .nav-tabs .nav-item:hover {
  flex-basis: 11rem;
}
html .horizontal .nav-tabs .nav-item:hover .nav-link .text-animation {
  transition-property: opacity, transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.34, 0.03, 0.13, 0.93);
  transition-delay: 100ms;
  opacity: 1;
  transform: translateX(0);
}
html .horizontal .nav-tabs .nav-item .nav-link.active::before {
  bottom: 0;
}
html .horizontal .nav-tabs .nav-item .nav-link.active .text-animation {
  transition-property: opacity, transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.34, 0.03, 0.13, 0.93);
  transition-delay: 100ms;
  opacity: 0;
  transform: translateX(0);
}
html .horizontal .nav-tabs .nav-item .nav-link.active:hover .text-animation {
  transition-property: opacity, transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.34, 0.03, 0.13, 0.93);
  transition-delay: 100ms;
  opacity: 1;
  transform: translateX(0);
}
html .horizontal .nav-tabs .layout-menu-tool {
  top: calc(3rem - 2px);
  z-index: 21;
  flex-direction: column;
  height: 6rem;
}
html .horizontal .nav-tabs.expand .menu {
  display: block;
}
html .horizontal .nav-tabs .view-port-footer {
  margin-top: initial;
  margin-left: auto;
  overflow-x: hidden;
}
html .h {
  height: auto;
}
html .h .toggle-content {
  transition-property: height;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.34, 0.03, 0.13, 0.93);
  transition-delay: 0ms;
  width: 100%;
  height: 300px;
  border-top: 0 solid transparent;
}
html .h .toggle-content > .nav,
html .h .toggle-content > div {
  width: 100%;
}
html .h .toggle-content.hide {
  width: 100%;
  height: 0;
  border-bottom: 0 solid transparent;
}
html .h .toggle-content h5 {
  padding-right: 1.25rem;
}
html .h .close-drawer {
  transform: rotate(180deg);
  margin-left: 0;
  margin-bottom: 0.375rem;
}

.app-active {
  position: relative;
  background-color: rgba(255, 255, 255, 0.025);
}
.app-active::before {
  content: "";
  width: 3px;
  position: absolute;
  top: 30%;
  bottom: 30%;
  left: 0;
  background-color: #2080d3;
  transition: top 0.3s cubic-bezier(0.34, 0.03, 0.13, 0.93), bottom 0.3s cubic-bezier(0.34, 0.03, 0.13, 0.93);
}
.app-active:hover::before {
  top: 0;
  bottom: 0;
}

/*# sourceMappingURL=app.css.map */
