.nav li.folder {
  flex-grow: 0;
  overflow: hidden;

  .action-menu {
    .icon-size-16 {
      width: 1rem;
    }

    .action-menu-tool .icon-angle-down {
      margin-right: 0.188rem;

      &::before {
        display: inline-block;
        transform: rotate(-90deg);
      }
    }

    .icon-folder-open-empty {
      display: none;
    }

    &:hover {
      span:last-of-type {
        padding-right: 0;
      }
    }
  }

  .nav-link.action-menu {
    min-height: 3rem;
    max-height: 3rem;
  }

  .folder-content {
    margin-left: 5px;
  }

  &.folder-open {
    flex-grow: 0;
    flex-basis: auto;

    & > .action-menu {
      .icon-folder-open-empty {
        display: block;
      }

      .icon-folder-empty {
        display: none;
      }

      .action-menu-tool .icon-angle-down {
        &::before {
          transform: rotate(0);
        }
      }
    }
  }
}
