.open-left {
  .app {
    position: relative;
    left: 0;
    @include transition("left, width", 0);
    margin-left: 140px;
  }

  .app .toggle-content {
    width: 300px;
    @include transition("width, left", 0);
    > div,
    > .nav {
      width: auto;
    }
    h3 {
      padding-right: 0;
    }
    .close-drawer {
      transform: rotate(-90deg);
    }
  }

  .app .toggle-content.hide {
    width: 0px;
  }

  .app.expand-wrapper {
    left: -140px;
  }

  .app.expand-wrapper.has-drawer {
    left: -440px;
  }

  .view-port {
    order: 2;
  }

  .logo {
    // border: 1px solid red;
  }
}
