.vertical {
  &.open-left {
    &.has-drawer {
      left: 0;
    }

    .viewport {
      order: 1;
    }

    .toggle-content {
      width: 300px;

      &.hide {
        width: 0px;
      }

      > div,
      > .nav {
        width: auto;
      }

      h3 {
        padding-right: 0;
      }

      .close-drawer {
        transform: rotate(-90deg);
      }
    }
  }
}
