.open-top {
  .app {
    @include transition("top", 0);
    display: flex;
    flex-direction: column-reverse;
  }

  .h {
    .horizontal {
      .dropdown-menu {
        top: -8.125rem;
        margin-top: 0 !important;
      }

      .layout-menu-tool {
        top: -6rem;
      }

      .icon-angle-right {
        transform: rotate(-90deg);
      }

      .chavron-rotate {
        transform: rotate(90deg);
      }
    }

    .viewport {
      order: 1;
    }

    .toggle-content {
      border-top: 1px solid rgba(255, 255, 255, 0.075);
      border-bottom: 0;
      transform: translateY(-100%);

      &.hide {
        border-top: 0;
      }

      h3 {
        padding-right: 0.25rem;
      }

      .close-drawer {
        transform: rotate(0);
        margin: 0.25rem 0 0 0;
      }
    }
  }
}
