@import "left";

.vertical {
  width: auto;
  left: 300px;

  .viewport {
    height: 100%;

    > .flex-column {
      height: 100%;
    }
  }

  .menu {
    max-width: 0;
    opacity: 0;
    @include transition("max-width, opacity", 0);
  }

  .viewport-header {
    overflow: hidden;

    .logo-wordmark {
      display: none;
    }

    .menu {
      display: none;
      margin-right: 0.75em;
    }

    .dropdown-menu {
      right: -0.75em;
    }
  }

  .fav-app-nav {
    flex-grow: 1;
    overflow: hidden;
  }

  .expand {
    width: 200px;

    .viewport-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: initial;
    }

    .logo-wordmark {
      display: block;
    }

    .menu {
      display: flex;
      max-width: 100%;
      opacity: 1;
    }

    .text-animation {
      @include text-animation("on", "", 0);
    }

    .favorite {
      @include transition("opacity", 300);
      i {
        padding: 0 0.75rem;
      }
    }

    .fav-app-nav {
      overflow-y: auto;
    }

    .nav-link {
      max-width: 200px;
    }

    .accordion {
      .nav {
        .toggle-content {
          left: 200px;
          display: list-item;
          @include transition("width", 50);
        }

        .hide {
          width: 0;
          @include transition("width", 50);
        }
      }
    }

    #fav-apps {
      & > li:not(.nav-item) {
        opacity: 1;
      }
    }
  }
}
