@import 'left';

.vertical {
    height: 100%;

    > .flex-column {
      height: 100%;
    }
    
    .view-port-header {
      overflow: hidden;
    }

    &.expand {
      width: 200px;
      // left: -140px;

      .view-port-header {
        overflow:initial;
      }

      .menu {
        display: block;
      }

      .text-animation {
        @include text-animation("on", "", 0);
      }

      .favorite {
        @include transition('opacity',300);
        i {
          padding: 0 0.75rem;
        }
      }

      .fav-app-nav {
        flex-grow: 1;
        overflow-y: auto;
      }

      .accordion {
        .nav {
          .toggle-content {
            left: 200px;
            display: list-item;
            @include transition('width',50);
          }

          .hide {
            width: 0;
            @include transition('width',50);
          }
        }
      }

      #fav-apps {
        & > li:not(.nav-item) {
          opacity: 1;
        }
      }
      .applications-nav {

      }
    }
  }