.open-left {
  .app {
    position: relative;
    left: 0;
    @include transition('left, width', 0);
  }

  .app .toggle-content {
    width: 300px;
    @include transition('width, left', 0);
  }

  .app .toggle-content.hide {
    width: 0px;
  }

  .app.expand-wrapper {
    left: -140px;
    // margin-left: calc(-50% - 251px);
  }

  .app.expand-wrapper.has-drawer {
    left: -440px;
  }

  .view-port {
    order: 2;
  }
}

.vertical {
    height: 100%;
    > .flex-column {
      height: 100%;
    }
    // position: relative;
    // left: 0;
    // @include transition('left', 0);

    &.expand {
      width: 200px;
      // left: -140px;


      .menu {
        display: block;
      }

      .text-animation {
        @include text-animation("on", "", 0);
      }

      .favorite {
        @include transition('opacity',300);
        i {
          padding: 0 0.75rem;
        }
      }

      .fav-app-nav {
        flex-grow: 1;
        overflow-y: auto;
      }

      .accordion {
        .nav {
          .toggle-content {
            left: 200px;
            display: list-item;
            @include transition('width',50);
          }

          .hide {
            width: 0;
            @include transition('width',50);
          }
        }
      }

      #fav-apps {
        & > li:not(.nav-item) {
          opacity: 1;
        }
      }
      .applications-nav {

      }
    }
  }